/* Default css styling */
html,body {
    margin: 0%;
    height: 100%;
}

h1, h2, h3, h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* For all the navbar */
.Navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
}

.Navbar div {
    width: 60px;
    height: 60px;
    flex: 1;
}

.Navbar h3 {
    color: white;
}

/* FOR THE LEFT SIDE OF NAVBAR */

.Navbar.left div{
    display:flex;
    justify-content: center;
    align-items: center;
}

.Navbar.left a{
    text-decoration: none;
    color:black;
}

/* Introducerea cu transport marfa international */
.Introducere{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    background-color: #ececed;
    flex-direction: column;
    align-items: center;
}

.Introducere #vechime{
    font-style: italic;
}

.qualities{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ececed;
}

.qualities .qualities_titlu{
    display: flex;
    justify-content: center;
}

.qualities .qualities_examples{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}






