html,body {
    margin: 0%;
}

html{
    overflow-y: scroll;
}

body{
    position: absolute;
    font-family: $content_font;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #B4B9BC;
}

.title{
    font-family: $title_font;
}

button{
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

select{
    margin: 0px;
}
