/* Default css styling */
html, body {
  margin: 0%;
  height: 100%;
  width: 100%;
}

html {
  overflow-y: scroll;
}

body {
  position: absolute;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #B4B9BC;
}

.title {
  font-family: "Roboto", sans-serif;
}

button {
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

button {
  background-color: rgba(0, 97, 255, 0.7490196078);
  color: white;
  font-weight: bold;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
}

.form {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
}

/* For all the navbar */
.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
}

.Navbar div {
  width: 60px;
  height: 70px;
  flex: 1;
}

/* FOR THE LEFT SIDE OF NAVBAR */
.Navbar.left div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar.left a {
  font-size: 20px;
}

#Intro {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* The path for check */
.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  margin-right: 8px;
  color: #00d18a;
}

#Intro h1 {
  text-align: center;
  font-size: 48px;
}

#Intro > div > div {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#Intro > div > div > div.qualities {
  padding: 4px 16px 4px 12px;
  color: #fff;
  border-radius: 24px;
  background: rgba(0, 97, 255, 0.7490196078);
  font-weight: 700;
  display: inline-flex;
}

#AboutUs {
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 50px;
}

#AboutUs .AboutUsText {
  border-radius: 20px;
  flex: 2;
  box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
}

#AboutUs .AboutUsText .title {
  font-style: italic;
}

#AboutUs .AboutUsText p {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}

#AboutUs .AboutUsText .title p {
  font-size: 30px;
}

#AboutUs .AboutUsText .request_quotation {
  background-color: rgba(0, 97, 255, 0.7490196078);
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  margin-right: 100px;
  padding: 10px 10px 10px 10px;
  border-style: ridge;
  border-color: beige;
  margin-bottom: 20px;
}

#AboutUs .AboutUsText p {
  word-spacing: 3px;
}

.AboutUsText + div {
  flex: 1.5;
  background-color: blue;
}

.AboutUsText {
  background-color: #343a40;
  color: #fff;
}

#Experience {
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 50px;
}

#Experience .ExperiencePicture {
  flex: 2;
  background-color: blue;
}

#Experience .ExperienceText {
  border-radius: 20px;
  flex: 1.5;
  box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
}

#Experience .ExperienceText .title {
  font-style: italic;
}

#Experience .ExperienceText p {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}

#Experience .ExperienceText .title p {
  font-size: 30px;
}

#Experience .ExperienceText .request_quotation {
  background-color: rgba(0, 97, 255, 0.7490196078);
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  margin-right: 100px;
  padding: 10px 10px 10px 10px;
  border-style: ridge;
  border-color: beige;
  margin-bottom: 20px;
}

#Experience .ExperienceText p {
  word-spacing: 3px;
}

.ExperienceText {
  background-color: #343a40;
  color: #fff;
}

.footer {
  height: 300px;
  width: 100%;
  background-color: #343a40;
  display: flex;
  color: white;
}

.first, .second, .third {
  flex: 1;
  margin: 20px 20px 20px 20px;
}

.footer .second {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.third {
  text-align: center;
}

.third .title {
  padding-bottom: 20px;
}/*# sourceMappingURL=styles.css.map */